[submodule "dep-t"]
	path = dep-t
	url = git@github.com:danidiaz/dep-t.git
[submodule "dep-t-advice"]
	path = dep-t-advice
	url = git@github.com:danidiaz/dep-t-advice.git
[submodule "dep-t-dynamic"]
	path = dep-t-dynamic
	url = git@github.com:danidiaz/dep-t-dynamic.git
[submodule "dep-t-value"]
	path = dep-t-value
	url = git@github.com:danidiaz/dep-t-value.git
